extends layout

block content
  header
    .container
      nav#logo soundmap
      nav#queue queue
      nav#popular popular
      nav#host host
      nav#connect connect
  main
    .container
      .playerBox
        .userName
        h1.logoBox soundmap
        .player
          span.playtime 0:00
          .artist
          .trackName
          .scrubber
            .heatmap
              .cells
              .markers
            .line
              canvas#linewave(width=668, height=90)
            .waveform
            .boxOmatic
              #likechart.hideLikeGraph
                script(type='text/javascript', src='javascripts/graph.js')
          .controls
            button#audio.play
            button#next.next
            button#toggleGraph graph
            button#heart
            span.upNext
  section.queue
    .container
      h4 Music Queue
      div.queueListContainer
        ul.queueList
  section.news.hide
    .container
      .popularBox
      .recentBox
  .userBox
    .container
      #userFavorites
  .widgetBox
    iframe#sc-widget(src="http://w.soundcloud.com/player/?url=http://api.soundcloud.com/", width="100%", height="165", scrolling="no", frameborder="no")
  #cheer Yeah!