extends layout

block content
  .widgetBox
    iframe#sc-widget(src="http://w.soundcloud.com/player/?url=http://api.soundcloud.com/", width="100%", height="165", scrolling="no", frameborder="no")
  .container
    header
      nav soundmap
      nav popular
      nav host
      nav#connect connect
    main
      .userName
      .playerBox
        h1.logoBox soundmap
        .player
          .trackName
          .artist
          .scrubber
            .heatmap
            .line
              canvas#linewave(width=500, height=80)
            .waveform
          .controls
            button#play play
            button#pause pause
            button#stop stop
      .userBox
        #userFavorites
  img#waveform(src='images/IfiwSmjkxSyH_m.png')