doctype 5
html(lang="en")
  head
    meta charset='utf-8'
    title=title
    link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='stylesheets/layout.css')
    meta(name='description', content='a heatmap for music')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
  body
    block content
  script(type='text/javascript', src='lib/jquery-1.10.2.min.js')
  script(type='text/javascript', src='lib/underscore-min.js')
  script(type='text/javascript', src='lib/soundcloud-sdk.js')
  script(type='text/javascript', src='lib/soundcloud-api.js')
  script(type='text/javascript', src='lib/moment.min.js')
  script(type='text/javascript', src='lib/d3.v3.min.js')
  script(type='text/javascript', src='javascripts/geolocation.js')
  script(type='text/javascript', src='javascripts/main.js')
