@font-face {
  font-family: 'GothicCustom';
  src: url("LeagueGothic.eot");
  src: local('â˜º'), url("LeagueGothic.otf") format('opentype'), url("leaguegothic.svg#lg") format('svg');
}

body {
  margin: 0;
  padding: 0;
  background: #efecb9;
  background-image: url(../images/texture.png);
  font: bold 1em 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Helvetica Neue', Helvetica, sans-serif;
  color: #1c171e;
}

a:link, a:visited, a:active, a:hover {
  text-decoration: none;
}

.container {
  width: 690px;
  margin: 0 auto;
}

header {
  position: relative;
  /*width: 500px;*/
  height: 80px;
  margin: 0 auto;
  z-index: 10;
}

header nav {
  display: relative;
  float: left;
  margin: 4px 2px 0 2px;
  width: 120px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  color: #e1fbe0;
  cursor: pointer;
  font-size: 0.9em;
}

header nav:nth-child(1) {
  width: 135px;
  height: 42px;
  line-height: 42px;
  padding-left: 50px;
  color: #141205;
  text-align: left;
  background-image: url(../images/soundmap-logo-small.png);
  background-repeat: no-repeat;
  font-size: 1.3em;
  letter-spacing: -0.1em;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

header nav:nth-child(2) {
  margin-left: 0px;
  background: #312d2c;
  border: 1px solid #141205;
}

header nav:nth-child(3) {
  background: #1888ba;
  border: 1px solid #1a7bbf;
}

header nav:nth-child(4) {
  background: #e73c45;
  border: 1px solid #dc2f29;
}

header nav:nth-child(5) {
  margin-right: 0px;
  background: #ea9713;
  border: 1px solid #d09517;
  -webkit-transition: all 0.5s ease;
}

header nav:nth-child(5):hover {
  height: 52px;
  line-height: 70px;
  margin-right: 0px;
  background: #f8b818;
  border: 1px solid #d09517;
}

main {
  clear: both;
  background: #efefef;
}

#cheer {
  display: none;
  position: absolute;
  top: 180px;
  left: 0;
  width: 30%;
  text-align: right;
  font-size: 2em;
  color: #e73c45;
  text-shadow: 1px 1px 1px #000;
  z-index: 100;
}

.userName {
  font-size: 0.7em;
  text-align: right;
  letter-spacing: -1px;
  clear: both;
}

.playerBox {
  position: relative;
  /*margin-bottom: 25px;*/
  padding: 10px;
  background: #efefef;
  /*border: 1px solid #e3e3e3;*/
  z-index: 15;
}

.news {
  position: relative;
  background: #efc437;
  background-image: url(../images/texture.png);
  padding: 35px 0 35px 0;
  overflow: hidden;
}

h4 {
  margin: 0;
  padding: 0 0 15px 0;
  color: #333;
  font-size: 22px;
  letter-spacing: -1px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.hide {
  display: none;
}

.popularBox {
  position: relative;
  /*width: 250px;*/
  /*float: left;*/
  padding-bottom: 25px;
  overflow: auto;
}

.recentBox {
  position: relative;
  /*width: 250px;*/
  /*float: left;*/
  font-size: 0.8em;
  line-height: 18px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.recentLikes {
  position: relative;
  width: 600px;
  margin: 0 auto;
}

.recentLike {
  position: relative;
  height: 100px;
  overflow: none;
  clear: both;
}

.recentLike:nth-child(even) {
  float: right;
}

.recentLike:nth-child(odd) {
  position: relative;
  float: left;
  text-align: right;
}

.userLike {
  width: 300px;
}

.likeBlockUserName {
  position: relative;
  top: 25px;
  float: left;
  width: 190px;
  padding: 0 5px 0 5px;
  margin: 0;
  /*font-size: 0.8em;*/
  font-weight: normal;
  line-height: 14px;
}

.likeBlockUserAvatar {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
}

.right {
  float: right;
}

.likeBlockUserAvatar img {
  width: 100px;
  height: 100px;
  border: 0;
}

.popularTracks {
  position: relative;
  float: left;
  padding: 10px 0 10px 0;
  width: 135px;
  height: 170px;
  text-align: center;
  cursor: pointer;
  /*border-width: 1px 0 0 0;
  border-color: #1a7bbf;
  border-style: solid;*/
}

.popularTracks img {
  border-style: inset;
  border-width: 2px;
  border-top-color: rgba(0,0,0,0.3);
  border-left-color: rgba(0,0,0,0.3);
  border-right-color: rgba(255,255,255,0.3);
  border-bottom-color: rgba(255,255,255,0.3);
  border-radius: 55px;
  -webkit-transition: all 0.5s ease;
}

.likeCount {
  font-family: 'GothicCustom';
  font-size: 40px;
  letter-spacing: -2px;
  color: #333;
  text-align: right;
  margin-right: 20px;
  line-height: 25px;
  text-shadow: 1px 1px 1px rgba(188,138,3,0.6);
}

.likeCount em {
  margin-left: 2px;
  font-style: normal;
  font-size: 25px;
  letter-spacing: -1px;
}

.likeTrackTitle {
  font-weight: normal;
  font-size: 0.8em;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.player {
  display: none;
  position: relative;
  /*position: absolute;
  top: 0;*/
}

.player .artist {
  font-size: 0.75em;
  font-weight: normal;
  color: #2d2c2a;
}

.artist a:link, a:active, a:hover, a:visited {
  color: #2d2c2a;
}

.player .trackName {
  padding-bottom: 8px;
}

.trackName a:link, a:active, a:hover, a:visited {
  color: #2d2c2a;
}

.controls {
  position: relative;
}

.controls button {
  /*width: 16px;
  height: 16px;
  border: none;*/
  width: 30px;
  height: 30px;
  border: 0px;
  border-radius: 16px;
}

.play {
  /*background: none;*/
  background: #1888ba;
  background-image: url(../images/play-dark.png);
  background-repeat: no-repeat;
  background-position-x: 12px;
  background-position-y: 7px;
}

.pause {
  /*background: none;*/
  background: #ea9713;
  background-image: url(../images/pause-dark.png);
  background-repeat: no-repeat;
  background-position-x: 12px;
  background-position-y: 7px;
}

.next {
  margin-left: 8px;
  /*background: none;*/
  background: #e73c45;
  background-image: url(../images/next.png);
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 7px;
}

#toggleGraph {
  position: absolute;
  right: 0px;
  background: #1888ba;
  width: 40px;
  font-size: 0.5em;
  margin: 0 0 0 10px;
  border-radius: 16px;
  color: #e1fbe0;
}

#heart {
  position: absolute;
  top: -17px;
  left: 285px;
  background: none;
  /*background-image: url(../images/heart.png);*/
  width: 65px;
  height: 56px;
  background-image: url(../images/heart-btn.png);
  -webkit-transition: all 0.9s ease;
}

#heart:hover {
  /*background-image: url(../images/heart-highlight.png);*/
  background-image: url(../images/heart-btn-hover.png);
}

.upNext {
  display: inline-block;
  width: 435px;
  height: 18px;
  margin-left: 35px;
  font-size: 0.8em;
  text-align: right;
  overflow-x: hidden;
}

.queue {
  display: none;
  position: relative;
  background: #312d2c;
  background-image: url(../images/texture.png);
  padding: 35px 0 35px 0;
  overflow: hidden;
}

.queue h4 {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,1);
}

.queueListContainer {
  /*display: none;*/
}

.queueList {
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 0.6em;
}

.queueItems {
  margin-bottom: 4px;
  padding: 3px;
  background: #1888ba;
  color: #efecb9;
  line-height: 50px;
  height: 30px;
  -webkit-transition: all 0.5s ease;
}

.queueItems:hover {
  background: #e73c45;
}

.playtime {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 15px;
  padding: 0;
  font: normal 1.6em 'GothicCustom', 'Lucida Grande';
}

.scrubber {
  position: relative;
  height: 100px;
  clear: both;
}

.heatmap {
  position: absolute;
  top: 0;
  /*width: 580px;*/
  width: 668px;
  height: 90px;
  background: #434343;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#626161), to(#312d2c));
  background-image: -webkit-linear-gradient(top, #626161, #312d2c); 
  /*background-image: -webkit-linear-gradient(top, #549651, #437941);*/
  background-image: -moz-linear-gradient(top, #626161, #312d2c);
  background-image: -ms-linear-gradient(top, #626161, #312d2c);
  opacity: 0.7;
}

.cell {
  position: absolute;
  top: 0;
  height: 90px;
  opacity: 0.9;
}

.graph {
}

.boxOmatic {
  position: absolute;
  top: 0;
  /*width: 580px;*/
  width: 668px;
  height: 90px;
}

#likechart {
  height: 90px;
}

.map {
  display: none;
}

aside.marker {
  display: none;
  position: absolute;
  top: 0;
  width: 1px;
  height: 90px;
  background: #333;
  opacity: 0.3;
}

.line {
  position: absolute;
  top: 0;
  /*width: 580px;*/
  width: 668px;
  height: 90px;
}

canvas {
  opacity: 0.5;
}

.waveform {
  position: absolute;
  top: 0;
  /*width: 580px;*/
  width: 668px;
  height: 90px;
  /*background-size: 580px 180px;*/
  background-size: 668px 180px;
}

.hideLikeGraph {
  display: none;
}

.heatmapoverlay {
  /*fill: #e73c45;*/ /* smooth red */
  /*fill: #ffffff;*/
  fill: none;
  /*stroke: #e73c45;*/
  stroke: #1888ba;
  stroke-width: 5;
  /*fill-opacity: 0.5;*/
}

h1.logoBox {
  /*position: absolute;*/
  font-size: 4em;
  letter-spacing: -7px;
}

.spinner {
  margin-left: 100px;
}

.userBox {
  padding: 35px 0 35px 0;
  /*background-image: url(../images/texture.png);*/
}

.favorite {
  position: relative;
  width: 597px;
  height: 100px;
  margin: 0 auto;
  /*background: #1888ba;*/
  /*background: #c3be87;*/
  clear: both;
  /*border: 1px solid #b8b37c;*/
  /*border-style: solid;
  border-width: 0 3px 0 0;
  border-color: #1888ba;*/
  -webkit-transition: all 0.5s ease;
}

.favorite:hover {
  background: rgba(24,136,186,0.8);
}

.favoriteArtwork {
  position: relative;
  float: left;
}

.favoriteDetails {
  position: relative;
  float: left;
  padding: 8px;
}

.favoriteArtist {
  font-size: 0.75em;
  font-weight: normal;
  line-height: 20px;
}

.favoriteTitle {
  width: 380px;
  font-size: 0.9em;
}

.favorite a:link, a:active, a:visited {
  text-decoration: none;
  color: #2d2c2a;
}

.setTrack {
  /*width: 16px;
  height: 16px;
  background: none;
  border: none;*/
  /*background-image: url(../images/play-dark.png);*/
  font-size: 0.7em;
  border-style: inset;
  background: rgba(0,0,0,0.2);
  border-radius: 10px;
  border-width: 1px;
  border-top-color: rgba(0,0,0,0.3);
  border-left-color: rgba(0,0,0,0.3);
  border-right-color: rgba(255,255,255,0.3);
  border-bottom-color: rgba(255,255,255,0.3);
}

.queueTrack {
  font-size: 0.7em;
  border-style: inset;
  background: rgba(0,0,0,0.2);
  border-radius: 10px;
  border-width: 1px;
  border-top-color: rgba(0,0,0,0.3);
  border-left-color: rgba(0,0,0,0.3);
  border-right-color: rgba(255,255,255,0.3);
  border-bottom-color: rgba(255,255,255,0.3);
}

.widgetBox {
  display: none;
}

.joinRoom {
  font-size: 0.9em;
}
